<%- include('../partials/header') %>
<body style="
    background-image: url('https://i.imgur.com/YYJgq90.jpg'); 
    background-size: cover;
">

<h2>STUDIOS</h2>
<table>
    <thead>
        <tr>
            <th>STUDIOS</th>
            <th>IMAGE</th>
            <th>PRICE</th>
            <th>DETAILS</th>
        </tr>
    </thead>
    </th>
<tbody>
    <% studios.forEach(function(s) { %>
    <tr>
        <td><%= s.studios%></td>
        <td><%= s.image%></td>
        <td><%= s.price%></td>
        <td><%= s.details%></td>
        <td><a href="/studios/<%s._id%>">Details</a></td>
    </tr>

    <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>
