<%- include('../partials/header') %>

    <% studios.forEach(function(s) { %>
    <tr>
        <td><%= s.studios%></td>
        <td><%= s.image%></td>
        <td><%= s.price%></td>
        <td><%= s.details%></td>
        <td><a href="/studios<%s._id%>">Details</a></td>
    </tr>

    <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>
