<%- include('../partials/header')%>

<!-- <section id="show-page">
    <div>Title: </div>
    <div><%= game.title %></div>
    <div>Release Year: </div>
    <div><%= game.releaseDate %></div>
    <div>Company: </div>
    <div><%= game.company %></div>
</section> -->
<p>HI HELLO</p>
<%- include('../partials/footer')%>