<%- include('../partials/header')%>

    <tr>
        <td><%= studio.name%></td>
        <td><img src="<%= studio.img%>" alt="failed to display"></td>
        <td>$<%= studio.price%></td>
        <td><%= studio.session%></td>
        <td><%= studio.description %></td>
        <td><%= studio.category %></td>
        <td><%= studio.user %></td>
    </tr>

  
    </tbody>
</table>

<%- include('../partials/footer')%>